
body{
	background-color: #333646;
	cursor: url('https://electerious.com/assets/images/cursor.svg') 3 3,auto;
}
html,body{
	overflow: hidden;
}
#top{
	position: relative;
}
#back2Top{
	width: 70px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: -70px;
    background-color: #FFC25C;
    color: #555;
    text-align: center;
    font-size: 30px;
    border-radius:25px;
	transition:0.5s ease;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #FFC25C;
    
    padding-left: 20px;
}
#back2Top i{
	transform: rotate(90deg);
}
#onscrl{
	display: none;
	position: fixed !important;
	z-index: 500;
}
#name-img{
	position: relative;
	width: 25%;
}
#name-img{

}
#skills,#achievement{
	background-color: #252734 !important;
	padding-bottom: 20px;
}
#projects{
	padding-bottom: 40px;
}

#p-1 div h3{
	color:aqua;
}
#p-2 div h3{
	color:#ff04f7;
}
#p-3 div h3{
	color:#00ff43;
}
#p-4 div h3{
	color:#ff6666;
}
#p-2,#p-3,#p-4{
	padding-top: 60px;
}
#p-2 div a{
	border-color: #ff04f7 !important;
	color: #ff04f7 !important;
}
#p-2 div a:hover{
	background-color:#ff04f7 !important;
	color: white !important;
}
#p-3 div a{
	border-color: #00ff43 !important;
	color: #00ff43 !important;
}
#p-3 div a:hover{
	background-color:#00ff43 !important;
	color: white !important;
}
#p-4 div a{
	border-color: #ff6666 !important;
	color: #ff6666 !important;
}
#p-4 div a:hover{
	background-color:#ff6666 !important;
	color: white !important;
}
.p-img{
	box-shadow: 0 4px 80px #070509;
	transition: 0.5s ease;
	z-index: 2;
	
	overflow: hidden;
	position: relative;
}
#p-m a{
	box-shadow: 0 4px 80px #070509;
	z-index: 2;
	transition: 0.5s ease;
	color:#FFC25C;
}
#p-m a:hover{
	box-shadow: 0 4px 80px #FFC25C;
	text-decoration: none;
	color:white;
}
.p-img img{
	transition: 0.5s ease;

}
#p-1 div:nth-child(2):hover{
	box-shadow: 0 4px 80px aqua;

}
#p-2 div:nth-child(1):hover{
	box-shadow: 0 4px 80px #ff04f7;

}
#p-3 div:nth-child(2):hover{
	box-shadow: 0 4px 80px #00ff43;

}
#p-4 div:nth-child(1):hover{
	box-shadow: 0 4px 80px #ff6666;

}
.ac-card div div:nth-child(1){
	width: 70%;
}
.ac-card{
	z-index: 2;
	box-shadow: 0 4px 40px #070509;
	color: darkgrey !important;
	transition: 0.5s ease;
}
.ac-card:hover{
	color: white !important;
}
.img-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: 0.5s ease;
	opacity: 0;
	z-index: 2;
}
#p-1 div:nth-child(2):hover .img-btn{
	opacity: 1;
}
#p-1 div:nth-child(2):hover img{
	transform: scale(1.1);
	
}
#p-2 div:nth-child(1):hover .img-btn{
	opacity: 1;
}
#p-2 div:nth-child(1):hover img{
	transform: scale(1.1);
	
}
#p-3 div:nth-child(2):hover .img-btn{
	opacity: 1;
}
#p-3 div:nth-child(2):hover img{
	transform: scale(1.1);
	
}
#p-4 div:nth-child(1):hover .img-btn{
	opacity: 1;
}
#p-4 div:nth-child(1):hover img{
	transform: scale(1.1);
	
}
#skill-left{
	color:#FFC25C !important;
}
svg{
	position: relative;
	width: 150px;
	height: 150px;
	z-index:1000;
}
svg circle{
	width: 100%;
	height:100%;
	fill: none;
	stroke: #191919;
	stroke-width:10;
	stroke-linecap: round;
	transform: translate(5px,5px);
}
svg circle:nth-child(2){
	stroke-dasharray: 440;
	stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 90) / 100);
	stroke:#00ff43;
}
.card:nth-child(2) svg circle:nth-child(2){
	stroke-dashoffset:calc(440 - (440 * 85) / 100);
	stroke:#00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2){
	stroke-dashoffset:calc(440 - (440 * 80) / 100);
	stroke:#ff04f7;
}
.s-cont .card:nth-child(1) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 93) / 100);
	stroke:#ff6666;
}
.s-cont .card:nth-child(2) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 75) / 100);
	stroke:#ccff00;
}
.s-cont .card:nth-child(3) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 88) / 100);
	stroke:#7b61f8;
}


.s-container{
	position: relative;
	width: 90vw;
	display: flex;
	z-index:4;
	justify-content: space-around;
}
.s-container .card{
	position: relative;
	width: 250px;
	background-color: rgba(34,34,34,0.6);
	display: inline-flex;
	justify-content: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s ease;
	flex-direction: inherit;
	z-index: 2;
}
.box{
	margin: auto;
}
.s-container .card:hover{
	
	box-shadow: 0 15px 35px rgba(0,0,0,0.5); 
}

.percent{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background-color: #222;
	z-index: 1000;
}
#sk-head{
	    font-family: Source Sans Pro;
	    font-weight: 500;
	    color:#FFC25C !important;
}
.p-text{
	padding-top: 20px;
	padding-left: 25px;
}
#footer{
	background-color: #111111;
}
#footer div div div{
	z-index:5;
	border-color: darkgray !important;
}
#footer .row div:nth-child(2) a{
	color:white !important;
	transition: 0.5s ease;
}
#footer .row div:nth-child(2) a:hover{
	color:#FFC25C !important;
}
#f-logo{
	color:#FFC25C;
	font-family: sofia;
	padding-bottom: 20px;
	position: relative;
}
#sm-grey{
	    font-size: 2.5rem;
    color: darkgray;
}
#f-logo div{
	box-shadow: none;
    background-color: transparent;
    margin: auto;
}
.badge{
	margin-top: 20px;
	font-size: 30px;
}
#f-logo div div h2{
	transform: rotate(-30deg);
    color: white !important;
    font-size: 35px;
}
#f-logo div svg circle{
	stroke: #FFC25C;
	stroke-width:7px;
}
.percent .number{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.percent .number h2{
	color: #777;
	font-weight: 700;
	font-size: 40px;
	transition: 0.5s ease;
}
.card:hover .percent .number h2{
	color:#fff;
	font-size: 50px;
}
.percent .number h2 span{
	font-size:24px;
	color: #777;
	transition: 0.5s ease;
}
.card:hover .percent .number h2 span{
	color: #fff;
}
.text{
	position: relative;
	color: #777;
	font-weight: 700;
	margin-top: 20px;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.5s
}
.card:hover .text{
	color: #fff;
}
#skill-text{
	color:white;
}
.trail { 
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: #FFC25C !important;
  }
.cursour{
	    position: fixed;
    top: 0;
    left: 0;
    size:42px;
    width: var(--size);
    height: var(--size);
    transform: translate(calc(var(--x) - var(--size)/2),calc(var(--y) - var(--size)/2));
    transition: var(--duration) cubic-bezier(.25,.25,.42,1) transform;
    z-index: 1;
    pointer-events: none;
    will-change: transform;
}
.cursour:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 2px solid var(--secondary);
    opacity: var(--scale);
    transform: scale(var(--scale));
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.25,.25,.42,1);
    transition-property: opacity,transform;
    }
.navbar{
	background-color: #FFC25C !important;
	margin:0px;
	padding: 0px;
	position: relative;
	z-index:2;
}
.navbar-brand{
	padding: 5px;
	font-size: 3rem;
	font-family: 'Alegreya', serif;
}
.navbar-expand-md .navbar-collapse{
	display: block !important;
	text-align: right;
    margin-right: 5px;
    transition: 0.5s ease;
    padding-bottom: 5px;
}
.navbar-dark .navbar-nav .nav-link{
	color:#252734 !important;
}
img{
	width: 100%;
}
#text{
	width: 75%;
	vertical-align: middle;
	margin-top: 5rem!important
}
#card{
	background-color: rgba(34,34,34,0.6);
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 7.2rem;
    padding: 12px;
    color: white;
    box-shadow: 0 4px 80px #070509;
    transition: 0.7s ease;
   	animation-name: example;
  	animation-duration: 1s;
  	animation-delay: 6s;
}
@keyframes example {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
#gif{
	width: 25%;
	margin: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
#opening{
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	z-index: 55;
	height: 100%;
	display: none;
	transition: 0.5s ease;
	left: 0%;
}
#hw-text{
	font-size: 6rem;
	font-weight: bolder;
	color: #333646;
	font-family: 'Playfair Display', serif;
}
#hw{
	text-align: center;
}
.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text_1::after, .text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 6.5em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 4.2em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.card-head{
	top: 0%;
    left: 5%;
    font-size: 4rem;
    position: absolute;
    font-family: sofia;
    color: #ffc25c;
    font-weight: bold;
}
#img{
	width: 20%;
}
.navbar-dark .navbar-brand{
	color:#252734 !important;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
	color: blue;
}
#start{
	font-size: 1.5rem;
	font-family: 'Playfair Display', serif;
}
.nav-item{
	padding: 8px 20px;
}
.nav-item:hover .nav-link{
	color: #FFC25C !important;
	transition: 0.5s ease;
}
.nav-item{
	border-radius: 10px;
}
.nav-item:hover{
	background-color: #252734 !important;
	transition: 0.5s ease;
}
@media only screen and (max-width:991px){
	.s-container{
		width: 80vw;
	}
	#footer div div div .ic i{
		font-size: 3rem;
	}
	.s-container .card{
		width: 200px;
	}
	#card{
		width: 100%;
	}
	.ac-card div div:nth-child(1){
		width: 100%;
		text-align: center !important;
	}
	.ac-card div div{
		float: none !important;
	}
	.ac-card div div:nth-child(2){
		display: none;
	}
}

@media only screen and (max-width:767px){
	.card-head{
		position: relative;
		font-size: 3rem;
	}
	#p-detail .d-flex {
		display: block !important;
	}
	.p-img{
		margin-top: 20px;
	}
	.collapse:not(.show) {
		display: none !important;
	}
	.navbar-expand-md .navbar-collapse{
		display:flex ;
		text-align: left;
	}
	#text{
		margin-top: 1.5rem !important
	}
	.navbar-nav{
		float: none !important;
	}
	#hw-text{
		font-size: 4rem;
	}
	#p-detail #p-m{
		display: flex !important;
		width:75% !important;
	}
	#gif{
		width: 50%;
	}
}
@media only screen and (max-width:676px){

}
@media only screen and (max-width:567px){
	#text{
		float: none !important;
		width: 100%;
		margin-top: 2rem !important;
	}
	.card-head{
		position: absolute;
	}
	#img{
		width: 100%;
	}
	#card{
		width: 80%;
	}
	#p-detail #p-m a{
		padding:10px 0px !important;
	}
	.s-container{
		width: 90vw;
		display: block;
	}
	.s-container .card{
		width: 250px;
		margin: auto;
		margin-top: 15px;
		display: flex;
	}
	#sk-head{
		padding-left: 10px;
		text-align: center;
	}
	
}
@media only screen and (max-width:400px){
	.navbar-brand{
		font-size: 2.5rem;
	}
	#name-img {
		width: 55%;
	}
	#card{
		width: 90%;
	}
	.s-container{
		width: 100vw;
	}
}